image: Ubuntu

stack: jdk 11
clone_depth: 1
pull_requests:
  do_not_increment_build_number: true

branches:
  only:
    - master

build: off

install:
  - sudo curl -L "https://github.com/docker/compose/releases/download/1.28.4/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose &
  - sudo chmod +x /usr/local/bin/docker-compose &
  - java -jar ./artifacts/aqa-shop.jar &
  - chmod +x gradlew

build_script:
  - docker-compose up -d --force-recreate sleep 10
  - java -Dspring.datasource.url=jdbc:mysql://localhost:3306/app -jar artifacts/aqa-shop.jar
  - ./gradlew clean test -Ddb.url=jdbc:mysql://localhost:3306/app
  - java -Dspring.datasource.url=jdbc:postgresql://localhost:5432/app -jar artifacts/aqa-shop.jar
  - ./gradlew clean test -Ddb.url=jdbc:postgresql://localhost:5432/app